<div class="sidebar">
  <img src="{{ site.baseurl }}/images/rsslogo.png" alt="RSS logo", align="right", height="90">
  <div class="sidebar-sticky">
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/blog' %} active{% endif %}" href="{{ site.baseurl }}/blog/">Latest</a>
      <a class="sidebar-nav-item" href="http://www.roboticsproceedings.org/">Previous Proceedings</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.invisible != true %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% assign collections_list = site.collections %}
      {% for coll in collections_list %}
        {% if coll.label != "posts" %}
        {{coll.label}}
          {% for node in coll.docs %}
            {% if node.invisible != true %}
              {% if node.layout == "page" %}
                <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>
