<br/>

<div id="ss-square" class="text-center">
<a href="http://www.northropgrumman.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_northropgrumman.jpg"
       alt="Northrop Grumman"/>
</a>
<a href="https://www.amazonrobotics.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_amazonrobotics.png"
       alt="Amazon Robotics"/>
</a>
<a href="http://www.tri.global/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_tri.jpg"
       alt="Toyota Research Institute"/>
</a>
<a href="http://www.baidu.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_baidu.png"
       alt="Baidu"/>
</a>
<a href="http://www.irobot.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_irobot.jpg"
       alt="iRobot"/>
</a>
<a href="http://www.lockheedmartin.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_lockheedmartin.png"
       alt="Lockheed Martin"/>
</a>
<a href="https://www.microsoft.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_microsoft.jpg"
       alt="Microsoft"/>
</a>
<a href="http://www.nvidia.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_nvidia.jpeg"
       alt="NVIDIA"/>
</a>
<a href="http://www.disneyresearch.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_disneyresearch.jpg"
       alt="Disney Research"/>
</a>
<a href="https://www.google.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_google.jpg"
       alt="Google"/>
</a>
<a href="https://www.massrobotics.org/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_massrobotics.png"
       alt="MassRobotics"/>
</a>
<a href="https://www.oculus.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_oculus.jpg"
       alt="Oculus"/>
</a>
<a href="https://www.righthandrobotics.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_righthandrobotics.jpg"
       alt="Righthand Robotics"/>
</a>
<a href="https://www.skydio.com/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_skydio.png"
       alt="Skydio"/>
</a>
<a href="http://www.springer.com/gp/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_springer.png"
       alt="Springer"/>
</a>
<a href="https://www.uber.com/info/atg/">
  <img src="{{ site.baseurl }}/images/sponsors/sq_uber.jpg"
       alt="Uber"/>
</a>
</div>

<br/><br/>
<br/><br/>
