<div class="header">
  <div class="container">
    <div class="row hidden-sm hidden-xs">
      <div class ="col-lg-2 col-lg-offset-2 col-md-3 col-md-offset-1 text-right">
        <img src="{{ site.baseurl }}/images/header_left.png">
      </div>
      <div class ="col-md-8 col-lg-6">
        <img src="{{ site.baseurl }}/images/header_right.png" width="100%">
      </div>
    </div>
    <div class="row hidden-md hidden-lg hidden-xl">
      <div class ="col-xs-3">
        <img src="{{ site.baseurl }}/images/header_left.png" width="100%">
      </div>
      <div class ="col-xs-9">
        <img src="{{ site.baseurl }}/images/header_right.png" width="100%">
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="215">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-md-offset-4">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">RSS 2017</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">home<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/blog/">Latest</a></li>
                <li><a href="http://www.roboticsproceedings.org/">Previous Proceedings</a></li>
              </ul>
            </li>
            {% assign collections_list = site.collections %}
            {% for coll in collections_list %}
              {% if coll.label != "posts" %}
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{coll.label}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for node in coll.docs %}
                  {% if node.invisible != true %}
                    {% if node.layout == "page" %}
                      <li><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
