<table class="table table-striped table-program">
  {% for event in site.data.workshop_program %}
  {% if event.date == include.date %}
  <tr>
    <td width="160px">{{ event.time }}</td>
    <td>
      {% if event.title contains 'Session' %}
      <a href="{{ site.baseurl }}/program/workshops/#{{ include.day }}"><b>{{ event.title }}</b></a>
      {% elsif event.title contains 'Industry Reception' %}
      <a href="{{ site.baseurl }}/program/industry/"><b>{{ event.title }}</b></a>
      {% else %}
      <b>{{ event.title }}</b>
      {% endif %}
      {% if event.location != 'none' %}
      <br/>
      <i>Location: {{ event.location }}</i>
      {% endif %}
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
